{% load static %}
{%load i18n %}
<!DOCTYPE html>

<html>
	<head>
        <title>{%block title%}{% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sergei Timshin Resume" />
        <meta name="keywords" content="Data, Data analytics, big data, data science, Pandas, Python" />
        <meta name="developer" content="Sergei Timshin">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="noindex, nofollow">
        
        <!-- FAV AND ICONS   -->
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
        <link rel="shortcut icon" href="{%static 'images/apple-icon.png'%}">
        <link rel="shortcut icon" sizes="72x72" href="{%static 'images/apple-icon-72x72.png'%}">
        <link rel="shortcut icon" sizes="114x114" href="{%static 'images/apple-icon-114x114.png'%}">
        
        <!-- Google Font-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{%static 'icons/font-awesome-4.7.0/css/font-awesome.min.css'%}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'plugins/css/bootstrap.min.css'%}">
        <!-- Animate CSS-->
        <link rel="stylesheet" href="{%static 'plugins/css/animate.css'%}">
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="{%static 'plugins/css/owl.css'%}">
        <!-- Fancybox-->
        <link rel="stylesheet" href="{%static 'plugins/css/jquery.fancybox.min.css'%}">
        <!-- Custom CSS-->
        <link rel="stylesheet" href="{%static 'css/styles.css'%}">
        <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/Timeline.css'%}">
		 
        <!-- Colors -->
        <!-- <link rel="stylesheet" href="{%static 'css/colors/defauld.css'%}" title="defauld"> -->
        <!-- <link rel="alternate stylesheet" href="css/colors/blue.css" title="blue"> -->
        <!-- <link rel="alternate stylesheet" href="css/colors/green.css" title="green"> -->
        <link rel="stylesheet" href="{%static 'css/colors/blue-munsell.css' %}" title="blue-munsell">
        <!-- <link rel="stylesheet" href="{%static 'css/colors/orange.css' %}" title="orange"> -->
        <!-- <link rel="alternate stylesheet" href="css/colors/purple.css" title="purple"> -->
        <!-- <link rel="alternate stylesheet" href="css/colors/slate.css" title="slate"> -->
        <!-- <link rel="alternate stylesheet" href="css/colors/yellow.css" title="yellow"> -->
    </head>	
	
	{% block body %}
	{% endblock body%}
</html>