{% extends 'main/base.html' %}
{% load static %}
{%load i18n %}

{% block title %}
	Sergei Timshin
{% endblock %}
{% block stylesheet %}
{% endblock %}

{% block body %}
	<body class="dark-vertion black-bg">
		<!-- Start Loader -->
				<div class="section-loader">
					<div class="loader">
						<div></div>
						<div></div> 
					</div>
				</div>
		<!-- End Loader -->
        
        <!--
        ===================
           NAVIGATION
        ===================
        -->
        <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp" id="mh-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#mh-home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-about">About</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-skills">Skills</a>
                                </li>                                
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-experience">Experiences</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-portfolio">Portfolio</a>
                                </li>                               
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-pricing">Pricing</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
		<!--
        ===================
            HOME 
        ===================
        -->
        <section class="mh-home  image-bg home-2-img" id="mh-home">
            <div class="home-ovimg">
                <div class="container">
                    <div class="row xs-column-reverse section-separator vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                    <span>Hello I'm</span>
                                </div>
                                
                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Sergei Timshin</h2>
                                <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Data Analyst</h4>
                                
                                <ul>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="mailto:timshin.sergei@gmail.com">timshin.sergei@gmail.com</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a href="callto:">+1(647)671-6688</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><address>Toronto, Canada</address></li>
                                </ul>
                                
                                <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                    <li><a href="https://www.linkedin.com/in/s-timshin/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <div class="img-border">
                                    <img src="{%static 'images/my_photo.jpg' %}" alt=""  class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   		

        
        <!--
        ==================
            ABOUT
        =================
        -->
        <section class="mh-about" id="mh-about">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="{% static 'images/about_me.jpg'%}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Canada based experienced data analyst with a background in IT,
							business and aerospace engineering. I will transfer your data into meaningful insights using the following tools:
                            </p>
                            <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <ul>
                                    <li><span>Python</span></li>
                                    <li><span>Tableau</span></li>
									<li><span>Power BI</span></li>
                                    <li><span>SQL</span></li>
                                    <li><span>VBA</span></li>
                                    <li><span>HTML</span></li>
                                    <li><span>CSS</span></li>
                                    <li><span>Javascript</span></li>
									<li><span>JMP</span></li>
									<li><span>R</span></li>
                                </ul>
                            </div>
                            <a href="{% static 'pdf/Resume Timshin Sergei.docx'%}" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s" download>Downlaod Resume <i class="fa fa-download"></i></a>
                        </div>
                    </div>
							
					
								<!--
					===================
					  Timeline
					===================
					-->		
					 <div class="col-12">
					  <div class="container">
						<h2 class="pb-3 pt-2 border-bottom mb-5">My Path</h2>
						<!--first section-->
						<div class="row align-items-center how-it-works d-flex">
						  <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">1</div> -->
							<i class="fa fa-university timeline-icons"></i>
						  </div>
						  <div class="col-6">
							<h5>2007, Moscow Aviation Institute</h5>
							<p>
								I in-depth studied Physics and Math, while gaining Master’s in Rocket Science, 
								<br/>
								Learned codding, built websites in PHP and Java Script
							</p>
						  </div>
						</div>
						<!--path between 1-2-->
						<div class="row timeline">
						  <div class="col-2">
							<div class="corner top-right"></div>
						  </div>
						  <div class="col-8">
							<hr/>
						  </div>
						  <div class="col-2">
							<div class="corner left-bottom"></div>
						  </div>
						</div>
						<!--second section-->
						<div class="row align-items-center justify-content-end how-it-works d-flex">
						  <div class="col-6 text-right">
							<h5>2012, Russian Space Agency</h5>
							<p>
								As an Aerospace Engineer facilitated in designing a turbo pump unit for the rocket engine RD-180.
							</p>
						  </div>
						  <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">2</div> -->
							<i class="fas fa-space-shuttle timeline-icons"></i>
						  </div>
						</div>
						<!--path between 2-3-->
						<div class="row timeline">
						  <div class="col-2">
							<div class="corner right-bottom"></div>
						  </div>
						  <div class="col-8">
							<hr/>
						  </div>
						  <div class="col-2">
							<div class="corner top-left"></div>
						  </div>
						</div>
						<!--third section-->
						<div class="row align-items-center how-it-works d-flex">
						  <div class="col-2 text-center full left-side d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">3</div> -->
							<i class="fas fa-user-tie timeline-icons"></i>
						  </div>
						  <div class="col-6">
							<h5>2016, Business</h5>
							<p>
								Collaborated in launching the start-up producing innovative building materials. 
								<br/>
								Gained experience in business, marketing analysis and gaining fundings.
							</p>
						  </div>
						</div>
						<!--path between 3-4-->
						<div class="row timeline">
						  <div class="col-2">
							<div class="corner top-right"></div>
						  </div>
						  <div class="col-8">
							<hr/>
						  </div>
						  <div class="col-2">
							<div class="corner left-bottom"></div>
						  </div>
						</div>
						<!--forth section-->
						<div class="row align-items-center justify-content-end how-it-works d-flex">
						  <div class="col-6 text-right">
							<h5>2018, Donadd.com</h5>
							<p>
								Created a website to fundraise money for stray animals around the world. 
							</p>
						  </div>
						  <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">2</div> -->
							
							<i class="fas fa-laptop-code timeline-icons"></i>
						  </div>
						</div>
						<!--path between 4-5-->
						<div class="row timeline">
						  <div class="col-2">
							<div class="corner right-bottom"></div>
						  </div>
						  <div class="col-8">
							<hr/>
						  </div>
						  <div class="col-2">
							<div class="corner top-left"></div>
						  </div>
						</div>
						<!--fifth section-->
						<div class="row align-items-center how-it-works d-flex">
						  <div class="col-2 text-center top left-side d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">3</div> -->
							<i class="fas fa-graduation-cap timeline-icons"></i>
						  </div>
						  <div class="col-6">
							<h5>Data Analyst</h5>
							<p>
								Obtained Master’s Degree in Analytics at FOX School of Business, Temple University (Philadelphia, PA). Mastered Statistics, SQL, Python and Tableau.
								
								Successfully accomplished multiple projects on the pharmaceutical data while working at XSUNT corp
							</p>
						  </div>
						</div>
						<!--path between 5-6-->
						<div class="row timeline">
						  <div class="col-2">
							<div class="corner top-right"></div>
						  </div>
						  <div class="col-8">
							<hr/>
						  </div>
						  <div class="col-2">
							<div class="corner left-bottom"></div>
						  </div>
						</div>
						<!--6th section-->
						<div class="row align-items-center justify-content-end how-it-works d-flex">
						  <div class="col-6 text-right">
							<h5>2021, Canada</h5>
							<p>
								Relocated to Canada, Toronto. Continue my analytics career! 
							</p>
						  </div>
						  <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
							<!-- <div class="circle font-weight-bold">2</div> -->
							<i class="fas fa-route timeline-icons"></i>
						  </div>
						</div>
					  </div>
					</div>			
                </div>
            </div>
        </section>
        
        <!--
        ===================
           SERVICE
        ===================
        -->
        <section class="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>What I do</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="fa fa-diagnoses purple-color"></i>
                            <h3>Data Wrangling</h3>
                            <p>
							No matter what data you have, I can help you clean it up. Data will be converted into the right format and structured by using modern tools like Python and VBA.
							Data Cleaning is my favorite process
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-chart-bar iron-color"></i>
                            <h3>Data Analysis</h3>
                            <p>
                                I will retreive meaningful insights from your data, get descriptive statistics and build a predictive model. I will make your data work for utilizing Machine Learning and AI
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <i class="fa fa-object-ungroup sky-color"></i>
                            <h3>Visualization</h3>
                            <p>
                                Get your results in beautiful interactive dashboards. I can also create animated visualization for you. Tool set: Tableau, Power BI Python and Javascript
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>       
        
        <!--
        ===================
           SKILLS
        ===================
        -->
        <section class="mh-skills" id="mh-skills">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title text-center col-sm-12">
                        <!--<h2>Skills</h2>-->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-skills-inner">
                            <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h3>Technical Skills</h3>
                                <div class="each-skills">
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Python</div>
                                                <div class="percentagem-num">90%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 90%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Tableau/Power BI</div>
                                                <div class="percentagem-num">85%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 85%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">SQL</div>
                                                <div class="percentagem-num">85%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 85%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Java Script/HTML/CSS</div>
                                                <div class="percentagem-num">80%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">Machine Learning</div>
                                                <div class="percentagem-num">80%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="candidatos">
                                        <div class="parcial">
                                            <div class="info">
                                                <div class="nome">R</div>
                                                <div class="percentagem-num">75%</div>
                                            </div>
                                            <div class="progressBar">
                                                <div class="percentagem" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <h3>Professional Skills</h3>
                            <ul class="mh-professional-progress" >
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="100"></div>
                                    <div class="pr-skill-name">Project Management</div>
                                </li>
								<li>
                                    <div class="mh-progress mh-progress-circle" data-progress="95"></div>
                                    <div class="pr-skill-name">Leadership</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="90"></div> 
                                    <div class="pr-skill-name">Team Work</div>
                                </li>
                                <li>
                                    <div class="mh-progress mh-progress-circle" data-progress="90"></div>
                                    <div class="pr-skill-name">Responsibility</div>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           EXPERIENCES
        ===================
        -->
        <section class="mh-experince" id="mh-experience">
            <div class="bolor-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-education">
                                 <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                                <div class="mh-education-deatils">                     
                                    <!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <h4>Business Analytics<a href="">Temple University</a></h4>
                                        <div class="mh-eduyear">Master of Science, 2017-2018</div>
                                        <p>
											Philadelphia, PA, USA. <br/>
											One year and half graduate program. GPA 3.97, Deans Certificate of Excelence.
											<br />
											Courses:
											<ul>
												<li>- Data Visualization</i></li>
												<li>- Data Mining</li>
												<li>- Data Cleaning/Data Manipulation</li>
											</ul>											
										</p>
                                    </div>  
									<!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4>Aerospace Engineering<a href="">Moscow Aviation Institute</a></h4>
                                        <div class="mh-eduyear">Master of Science, 2007-2012</div>
                                        <p>
											Moscow, Russia. <br/>
											Five and one-half year integrated undegraduate/graduate program. 
											<br />
											Courses: 
											<ul>
												<li>- programing</i></li>
												<li>- maths</li>
												<li>- physics</li>
											</ul>
										</p>
                                    </div>           
									<!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <h4>Courses & Certificates</h4>
                                        <p>
											<ul>
												<li>- Udemy: Python for Data Science</i></li>
												<li>- Coursera: Machine Learning</li>
												<li>- Advanced Google Analytics Certificate</li>
											</ul>											
										</p>
                                    </div>     
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-work">
                                 <h3>Work Experience</h3>
                                <div class="mh-experience-deatils">
									 <!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4>Data Analyst, <a href="https://www.xsunt.com/">Xsunt corporation</a></h4>
                                        <div class="mh-eduyear">Philadelphia, PA || 02/2020-02/2021</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>
												 Led the team of 3 analysts and 2 developers to build and launch 2 big analytical products for Bristol Myers Squibb
											</li>
                                            <li><i class="fa fa-circle"></i>
												 Prepared ad-hoc reports in SQL server and performed QA tests to find data discrepancies
											</li>
                                        </ul>
										</br>
										</br>
										
                                    </div>      
								
                                    <!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4>Data Analyst, <a href="https://www.temple.edu/">Temple University</a></h4>
                                        <div class="mh-eduyear">Philadelphia, PA || 03/2018-12/2018</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>
												Analyzed performance of MBA students and prepared Tableau reports for the Center for Innovation in Teaching and Learning
											</li>
                                            <li><i class="fa fa-circle"></i>
												Saved 100 work hours for the department by utilizing Python, SQL and APIs to atomate the data mining process
											</li>
                                        </ul>
                                    </div>                                
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                        <h4>Python Developer(Internship), <a href="https://www.temple.edu/">Temple University</a></h4>
                                        <div class="mh-eduyear">Philadelphia, PA || 01/2018-04/2018</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>Developed from scratch web-application (Python Django) which processes students` performance data to give them recommendations improving their study process</li>
											<li><i class="fa fa-circle"></i> Reported to a professor all steps of the developing process. This data was used for creating a new programming course for newbies in Temple University</li>
                                        </ul>
                                    </div>      
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                        <h4>Business Development Manager, <a href="https://www.illumicon.ru/?lang=en">Illuminart</a></h4>
                                        <div class="mh-eduyear">Kirov, Russia || 06/2016-08/2017</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>Developed and implemented business strategy</li>
											<li><i class="fa fa-circle"></i>Helped the company reach $600,000 revenue in a first year after launch</li>
                                        </ul>
                                    </div>                                
                                    <!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                        <h4>Marketing Analyst, <a href="http://www.artvoda.com/">Kluch Zdorovya</a></h4>
                                        <div class="mh-eduyear">Kirov, Russia || 03/2013-05/2017</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>Reported to the CEO marketing campaigns` results using SQL and Google Analytics to make data-driven decisions.</li>
                                        </ul>
                                    </div>
									<!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                        <h4>Aerospace Engineer, <a href="http://engine.space/eng/">Russian Space Agency</a></h4>
                                        <div class="mh-eduyear">Moscow, Russia || 01/2012-02/2013</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i> Worked on a turbopump unit of liquid propellant rocket engine RD-180</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           PORTFOLIO
        ===================
        -->
        <section class="mh-portfolio" id="mh-portfolio">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-sm-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3>Recent Projects</h3>
                    </div>
                    <div class="part col-sm-12">
                        <div class="portfolio-nav col-sm-12" id="filter-button">
                            <ul>
                                <li data-filter="*" class="current wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s"> <span>All Categories</span></li>
                                <li data-filter=".programing" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><span>Programing</span></li>
                                <li data-filter=".analytics" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s"><span>Analytics</span></li>
                                <li data-filter=".visualization" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><span>Visualization</span></li>
                            </ul>
                        </div>
                        <div class="mh-project-gallery col-sm-12 wow fadeInUp" id="project-gallery" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <div class="portfolioContainer row">
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 programing">
                                    <figure>
                                        <img src="{% static 'images/portfolio/donadd.jpg'%}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <h5 class="title">Help Stray Animals</h5>
                                            <span class="sub-title">Programing</span>
                                            <a data-fancybox data-src="#donadd_id"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 analytics visualization">
                                    <figure>
                                        <img src="{% static 'images/portfolio/space_tableau1.jpg'%}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <h5 class="title">Space Dashboard</h5>
                                            <span class="sub-title">Visualization</span>
                                            <a href="{% static 'images/portfolio/g2.png'%}" data-fancybox data-src="#tableau_final"></a>
                                        </figcaption>
                                    </figure>
                                </div>
								<div class="grid-item col-md-4 col-sm-6 col-xs-12 analytics">
                                    <figure>
                                        <img src="{% static 'images/portfolio/idemia-onelook.jpg'%}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <h5 class="title">Analytical Tool</h5>
                                            <span class="sub-title">Data Analytics</span>
                                            <a href="{% static 'images/portfolio/onelook 3.0 Headlines.png'%}" data-fancybox data-src="#pharma_tool"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 analytics programing">
                                    <figure>
                                        <img src="{% static 'images/portfolio/web_scraping.jpg'%}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <h5 class="title">Automation</h5>
                                            <span class="sub-title">Programing</span>
                                            <a href="{% static 'images/portfolio/web_scraping.jpg'%}" data-fancybox data-src="#automation"></a>
                                        </figcaption>
                                    </figure>
                                </div>
								<div class="grid-item col-md-4 col-sm-6 col-xs-12 analytics visualization">
                                    <figure>
                                        <img src="{% static 'images/portfolio/911-calls logo.png'%}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <h5 class="title">Data Wrangling/Logistic Regression</h5>
                                            <span class="sub-title">Analytics</span>
                                            <a href="{% static 'images/portfolio/web_scraping.jpg'%}" data-fancybox data-src="#Logistic_Regression"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                
                            </div> <!-- End: .grid .project-gallery -->
                        </div> <!-- End: .grid .project-gallery -->
                    </div> <!-- End: .part -->
                </div> <!-- End: .row -->
            </div>
            <div class="mh-portfolio-modal" id="tableau_final">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Space Dashboard</h2>
                            <p></p>       
                            
                            <p>
								The project is done in Tableau. This interactive dashboard allows you to track the biggest satellites and see some details related 
								to launches and technical characteristics. This was a final project for the data visualization class that was graded with A.
							</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>Tableau</span></li>
                                </ul>
                            </div>
                            <a href="https://public.tableau.com/profile/sergei1077#!/vizhome/satelites/Dashboardfinal" class="btn btn-fill">Live Demo</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/space_tableau1.jpg'%}" alt="" class="img-fluid">
                                <p>Header</p> 
                                <img src="{% static 'images/portfolio/space_tableau2.jpg'%}" alt="" class="img-fluid">
								    
                                <img src="{% static 'images/portfolio/space_tableau3.jpg'%}" alt="" class="img-fluid">
                                <p>Info about each satellite</p>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="mh-portfolio-modal" id="donadd_id">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Donadd</h2>
                            <p><a href='https://donadd.com/'>donadd.com</a></p>       
                            
                            <p>
								Donadd.com is created to help stray animals. It is a croudwunding platform where people can help donating their time, not money! 
								Just spend 5 minutes of your time and it will fill up a bowl or feed a cat! The main idea of this app is to let people convert their spare time into
								real money. The whole process consists of 4 simple steps:
								<ul>
                                    <li><span>- Choose the project that you want to help</span></li>
                                    <li><span>- Watch a short commercial video</span></li>
                                    <li><span>- Click “DONATE”</span></li>
                                    <li><span>- Done! You just helped a stray pet!</span></li>
                                </ul>
								The project was developed from scratch using technologies: Python (Django, Pandas, Matplotlib), Bootstrap, Java Script, Google API etc. Project went through the business accelerator but is on pause now.

							</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>python</span></li>
									<li><span>sql</span></li>
									<li><span>matplotlib</span></li>
                                    <li><span>html</span></li>
                                    <li><span>css</span></li>
                                    <li><span>Javascript</span></li>
                                </ul>
                            </div>
                            <a href="https://donadd.com/" class="btn btn-fill">Live Demo</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/donadd4.jpg'%}" alt="" class="img-fluid">
                                <p>Page with Projects</p>    
                                <img src="{% static 'images/portfolio/donadd3.jpg'%}" alt="" class="img-fluid">
                                <p>Collected Statistics</p>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="mh-portfolio-modal" id="Logistic_Regression">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Data Wrangling/Logistic Regression</h2>       
                            <p>
								This is a freelance project for academic purposes.
								</br>
								<b>Required: </b>
								</br>
								Perform an explanatory analysis of 911 Calls data set from Kaggle. Built a linear regression and report findings. 
								</br>
								<b>What has been done:</b>
								</br>
								Several plots has been created such as heatmap, countplot, linechart. In addition, to predict number of calls for missed months
								I have created a linear regression. This project required data manipulations. Thus, new columns has been added by retrieving data from 
								existing information(lambda function applied). This project has been done with several libraries: Pandas, Seaborn, Matplotlib
								

							</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>Python</span></li>
									<li><span>Machine Learning</span></li>
									<li><span>Data Analysis</span></li>
									<li><span>Seaborn</span></li>
									<li><span>Matplotlib</span></li>
                                </ul>
                            </div>
                            <a href="https://drive.google.com/file/d/1sKnmrLZYfDxpIEJqhOgFZSC3qdEviulA/view?usp=sharing" class="btn btn-fill">Download the file</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/911 calls heatmap.png'%}" alt="" class="img-fluid">
                                <p>Heatmaps clearly show the hottest time for each day of the week.</p>    
                                <img src="{% static 'images/portfolio/911 calls linear regression.png'%}" alt="" class="img-fluid">
                                <p>Linnear regression</p>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="mh-portfolio-modal" id="automation">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Automation Script</h2>            
                            <p>
								<h6>Problem:</h6> Data for the Center for Innovation in Teaching and Learning were kept on-line in Canvas LMS. People spent days manually retrieving
								detailed data from the tool. The basic Canvas`s functionality allows users to download only limited information. As a result, data analysts manually transferred data from Canvas to Excel spreadsheets, that could take days of work.
								<h6>Solution:</h6> After exploring the issues, I created a python script using Canvas`s API. All data manipulation was done in the Jupiter Notebook. The script retrieved all needed data, processed them and returned the
								csv file. The script became the base of the program that was used by the whole department. It helped save hundreds of working hours 
							</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>python</span></li>
									<li><span>matplotlib</span></li>
									<li><span>web scraping</span></li>
                                </ul>
                            </div>
							<a href="https://drive.google.com/open?id=1CgW7xukChhmXcBC03cn5KiZ2Eu5FMGr_" class="btn btn-fill">Download the file</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/web_scraping.jpg'%}" alt="" class="img-fluid">
                                <p></p>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
			<div class="mh-portfolio-modal" id="pharma_tool">
                <div class="container">
                    <div class="row mh-portfolio-modal-inner">
                        <div class="col-sm-5">
                            <h2>Analytical Tool</h2>      
                            <p>
								This software has been created for a big pharmaceutical company. 
								It delivers data that helps representatives track all necessary metrics such as drug sales, interactions 
								with doctors and competitors` activity. The software combined a variety of charts including heatmaps and animated dashboards. 
								My role in this project was a project manager and key responsibilities were:
								<ul>
                                    <li>- Maintain Communications with the client. Act as a product representative.</li>
                                    <li>- Prepare ad-hoc data feeds using SQL</li>
                                    <li>- Develop SQL scripts for QC processes</li>
                                    <li>- Coordinate work between development and data teams</li>
                                </ul>
								<br />
								The total team working on this project was more than 15 people. My duty was to
								coordinate the processes between departments. The project was successfully delivered on time. 
							</p>      
                            <div class="mh-about-tag">
                                <ul>
                                    <li><span>SQL</span></li>
									<li><span>Project Management</span></li>
									<li><span>VBA</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/onelook 3.0.png'%}" alt="" class="img-fluid">
                                <p></p>    
                            </div>
                            <div class="mh-portfolio-modal-img">
                                <img src="{% static 'images/portfolio/onelook 3.0 timeline.png'%}" alt="" class="img-fluid">
                                <p></p>    
                            </div>							
                        </div>
                    </div>
                </div>
            </div>
			
			
			
        </section>
        
        <!--
        ===================
           PRICING
        ===================
        
        <section class="mh-pricing" id="mh-pricing">
            <div class="">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Pricing Table</h3>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <i class="fa fa-calendar"></i>
                                <h4>Full-time work</h4>
                                <p>I am available for full time</p>
								<h5>$80,000</h5>
                                <ul>
                                    <li>Data Cleaning</li>
                                    <li>Data Visualization</li>
                                    <li>Data Analysis</li>
                                    <li>Building Statistical Models</li>
									<li>Web Scraping</li>
                                </ul>
                                <a href="#mh-contact" class="btn btn-fill">Hire Me</a>
                            </div>  
                        </div>                    
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <i class="fa fa-hourglass"></i>
                                <h4>Hourley work</h4>
                                <p>I am available for hourley projets</p>
								<h5>$45</h5>
                                <ul>
                                    <li>Data Cleaning</li>
                                    <li>Data Visualization</li>
                                    <li>Data Analysis</li>
                                    <li>Building Statistical Models</li>
									<li>Web Scraping</li>
                                </ul>
                                <a href="#mh-contact" class="btn btn-fill">Hire Me</a>
                            </div>  
                        </div>
						<div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <i class="fas fa-paw"></i>
                                <h4>Nonprofit</h4>
                                <p>My service is free for animals non-profit organisations</p>
								<h5>$0</h5>
                                <ul>
                                    <li>Data Cleaning</li>
                                    <li>Data Visualization</li>
                                    <li>Data Analysis</li>
                                    <li>Building Statistical Models</li>
									<li>Web Scraping</li>
                                </ul>
                                <a href="#mh-contact" class="btn btn-fill">Contact me</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
		-->

        <!--
        ===================
           FOOTER 1
        ===================
        -->
        <footer class="mh-footer" id="mh-contact">
            <div class="map-image image-bg">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Contact Me</h3>
                        </div>
                        <div class="col-sm-12 mh-footer-address">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <div class="each-icon">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Address</h4>
                                            <address>
                                                Toronto, ON. Canada<br> 
       
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <div class="each-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Email</h4>
                                            <a href="mailto:timshin.sergei@gmail.com">timshin.sergei@gmail.com</a><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                        <div class="each-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="each-info">
                                            <h4>Phone</h4>
                                            <a href="callto:+1(647)671-6688">+1(647)671-6688</a><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"> -->
                            <!-- <div class="mh-map"> -->
                                <!-- <div id="mh-map" class="shadow-1"></div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
							<div class="text-center text-xs-center">
								<ul class="social-icon soc_icon_footer">
									<li><a href="https://www.linkedin.com/in/s-timshin/"><i class="fab fa-linkedin"></i></a></li>
	
								</ul>
							</div>
							<div class="text-center text-xs-center">
								<p>All right reserved</p>
							</div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>     
    
    <!--
    ==============
    * JS Files *
    ==============
    -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- jQuery -->
    <script src="{% static 'plugins/js/jquery.min.js'%}"></script>
    <!-- popper -->
    <script src="{% static 'plugins/js/popper.min.js'%}"></script>
    <!-- bootstrap -->
    <script src="{% static 'plugins/js/bootstrap.min.js'%}"></script>
    <!-- owl carousel -->
    <script src="{% static 'plugins/js/owl.carousel.js'%}"></script>
    <!-- validator -->
    <script src="{% static 'plugins/js/validator.min.js'%}"></script>
    <!-- wow -->
    <script src="{% static 'plugins/js/wow.min.js'%}"></script>
    <!-- mixin js-->
    <script src="{% static 'plugins/js/jquery.mixitup.min.js'%}"></script>
    <!-- circle progress-->
    <script src="{% static 'plugins/js/circle-progress.js'%}"></script>
    <!-- jquery nav -->
    <script src="{% static 'plugins/js/jquery.nav.js'%}"></script>
    <!-- Fancybox js-->
    <script src="{% static 'plugins/js/jquery.fancybox.min.js'%}"></script>
    <!-- isotope js-->
    <script src="{% static 'plugins/js/isotope.pkgd.js'%}"></script>
    <script src="{% static 'plugins/js/packery-mode.pkgd.js'%}"></script>
    <!-- Map api -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- Custom Scripts-->
    <script src="{% static 'js/map-init.js'%}"></script>
    <script src="{% static 'js/custom-scripts.js'%}"></script>
		
	</body>
{% endblock %}